*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    background-color: #474747;
    color: #fff;
    font-size: 18px;
}

input, select{
    background-color: #626262;
    border: none;
    color: #fff;
    padding: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

option:nth-child(2n){
    background-color: #9fc8dd;
}

option:nth-child(2n+1) {
	background-color: #8db3c6;
}

.logout{
    background-color: #a51b1b;
    border: none;
    color: #fff;
    height: 60%;
    font-size: 20px;
    float: right;
}

table select{
    background-color: #71b0d1;
    border: solid 2px #6ba6c6;
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
    margin: 0;
    padding: 20px;
    clear: both;
}

small{
    font-size: 10px;
}

table, td, th{
    padding: 5px;
    border: solid 3px #0fa2f0;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 20px;
}

th{
    background-color: #40b2ed;
    text-align: center;
    padding: 10px;
}

tr{
    text-align: right;
}

tr:nth-child(2n){
    background-color: #77badd;
}

tr:nth-child(2n+1) {
	background-color: #6faecd;
}

.login-window{
    background-color: #303030;
    height: auto;
    width: 250;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media only screen and (max-device-width: 768px){
    .login-window {
        background-color: #303030;
        height: 100%;
        width: 100%;
        margin-top: 0;
        display: inline-block;
        text-align: center;
        padding-top: 50%;
        padding-bottom: 50%;
        zoom: 1;
    }
  }

.top{
    background-color: #303030;
    height: 100px;
    margin-top: 0px;
    clear: both;
}

.main{
    background-color: #757575;
    width: 100%;
    height: auto;
    float: left;
    padding: 1%;
}

.main-full{
    background-color: #757575;
    width: 100%;
    height: auto;
    padding: 1%;
}

.insert{
    background-color: #888888;
}

.hide{
    display: none;
}

.alert{
    background-color: #ff4545;
    border: solid 2px red;
    color: #fff;
    padding: 20px;
    float: right;
}

.btnDelete{
    background: #a01f1f;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.btnEdit{
    background: #326132;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}

.btnAction{
    background: #0077ff;
    color: #fff;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.error{
    color: #fa1515;
}

.info{
    color: #0fa2f0;
}

.correct{
    color: #00e000;
}